.settings-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.settings-cards-container {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

