.watch-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player {
  background: black;
  height: 100%;
}