.library-card {
  width: 300px;
  margin: 10px;
  height: 100%;
}

.library-card > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library-card img {
  width: 300px;
  height: 450px;
}

.card-actions {
  align-self: flex-end;
}

.library-card > div > div > div:nth-child(2) > div > div {
  /*height: 100%;*/
  bottom: auto !important;
  padding-top: 0 !important;

}

.library-card:hover > div > div > div:nth-child(2) > div > div {
  height: 100%;
  text-align: center;
}

.library-card .watch-button {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: none !important;
  color: white !important;
}

.library-card:hover .watch-button {
  display: block !important;
}